*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 2fr 1fr;
    grid-template-areas:
        "header"
        "statement"
        "login"
        "footer";
}
header{
    grid-area : header;
    display: flex;
    box-shadow : 1px 1px 20px black;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
}
header img.desktop{
    display: none;
    height : 20vh;
    justify-self: start;
}
header ul{
    display: flex;
    width: 80vh;
    height: 100%;
    list-style-type: none;
    justify-content: space-around;
    align-items: flex-end;
}
li{
    position: relative;
    margin-bottom: 15px;
}
header li a{
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    text-decoration: none;
    color : #3a4a54;
    outline: none;
}
header ul li a:after{
    position : absolute;
    bottom : -5px;
    left : 50%;
    width : 0;
    content : "";
    height : 2px;
    background : #e8a348;
    transition : all 0.3s;
}
header ul a:hover:after{
width : 100%;
left : 0;
}
.statement{
    display: flex;
    grid-area : statement;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
.statement img.phone{
    height: 15vh;
}
.statement p,ul{
    font-size : 10px;
    color : #e8a348;
    letter-spacing: 0.10em;
    //text-transform : uppercase;
    //text-decoration : underline #3a4a54;
    //text-underline-position: under;
}
.login{
    grid-area: login;
}
.login-form{
    display: flex;
    flex-direction: column;
    height : 100%;
    align-items: center;
    justify-content: center;
}
.login-form span{
    display : block;
    margin-bottom: 20px;
}
.login-form span p{
    font-size : 20px;
    color : #3a4a54;
    margin-bottom: 10px;
}
.login-form span input{
    width : 200px;
    font-size : 10px;
    font-family : Times New Roman;
    border-radius : 5px;
    border : 1px solid #3a4a54;
    padding : 10px 20px;
    outline : none;
    opacity : 0.8;
}
.login-form span input:focus{
    border-left : 1.5px solid #3a4a54;
    border-right : 1.5px solid #3a4a54;
    }
.login-form button{
    height : 40px;
    width : 100px;
    padding : 10px 10px;
    margin-top: 10px;
    background : none;
    font-size : 15px;
    font-family : Times New Roman;
    letter-spacing : 0.10em;
    border : 2px solid #e8a348;
    color : #3a4a54;
    transition : background 0.3s,color 0.3s;
    border-radius : 5px;
}
.login-form button:hover{
background : #e8a348;
color : white;
cursor : pointer;
}
footer{
    grid-area : footer;
    background-color: #F2F3F4;
    display: flex;
    justify-content: space-evenly;
}
footer div{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
footer div p:nth-child(1){
    font-size: 9px;
    font-weight: 900;
    color:#17202A;
    letter-spacing: 0.10em;
    text-decoration: underline #e8a348;
    text-transform: uppercase;
    text-underline-position: under;
}
footer div p:nth-child(2){
    display: none;
    font-size: 17px;
}
/* For Tabs */

@media only screen and (min-width: 600px){
    header img.desktop{
        display: initial;
    }
    .statement img.phone{
        display: none;
    }
    .statement p{
        font-size : 25px;
    }
    .login-form span p{
        font-size : 25px;
    }
    .login-form span input{
        width : 300px;
        font-size : 15px;
    }
    .login-form button{
        height : 60px;
        width : 150px;
        font-size : 20px;
    }
    footer div p:nth-child(1){
        font-size: 15px;
    }
}

/* For Mini-Desktops */
@media only screen and (min-width: 920px){
    body{
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 0.7fr 3.3fr 2fr;
        grid-template-areas:
        "header header"
        "statement login"
        "footer footer";
    }
    header ul a{
        font-size: 13px;
    }
    footer div p:nth-child(1){
        font-size: 20px;
    }
    footer div p:nth-child(2){
        display: initial;
    }
}

/* For Desktops */
@media only screen and (min-width: 1001px){
    body{
        grid-template-columns: 1.7fr 1.3fr;
        grid-template-rows: 0.7fr 3.3fr 2fr;
    }
    header img.desktop{
        height : 30vh;
    }
    header ul a{
        font-size: 16px;
    }
    .statement p{
        font-size : 30px;
    }
    .login-form span input{
        width : 300px;
        font-size : 20px;
    }
    .login-form button{
        height : 60px;
        width : 200px;
        font-size : 25px;
    }
    footer div p:nth-child(1){
        font-size: 25px;
    }
    footer div p:nth-child(2){
        font-size: 20px;
    }
}

@media only screen and (min-width : 1260px){
    .statement p{
        font-size : 23px;
		padding-left:20px;
    }
	.statement ul{
		font-size : 23px;
		padding-left:100px;
	}
    footer div p:nth-child(1){
        font-size: 30px;
    }
}