body{
    display : block;
    font-family: Arial, Helvetica, sans-serif;
    z-index: -1;
}
.bg{
    position : absolute;
    top : 0;
    left : 0;
    background-image: url("../seamless.jpg");
    height : 100%;
    width :100%;
    filter: opacity(0.1);
}
.container{
    display: block;
    position : absolute;
    color : #3B314E;
    top : 5%;
    left : 20%;
    height : 40em;
    width : 60em;
    border-radius: 15px;
    box-shadow: 2px 2px 5px black;
    background-color: white;
}
.personal{
    position: absolute;
    text-align: left;
    left: 0;
    height : 100%;
    width : 50%;
}
.account{
    position: absolute;
    color : white;
    text-align: left;   
    right : 0;
    height : 100%;
    width : 50%;
    background : #3B314E;
}
.container span{
    display : block;
    position: relative;
    top : 100px;
    font-size : 25px;
    margin : 0px 0px 10px 40px;
    padding : 10px;
}
.container input{
    position: relative;
    top : 100px;
    font-size : 20px;
    margin : -10px 0px 10px 50px;
    padding: 10px;
    border-radius: 3px;
    border : 1px solid #3B314E;
    outline: none;
}
.container input:focus{
    border-left : 1.5px solid #3B314E;
    border-right : 1.5px solid #3B314E;
}
.container p{
    position : absolute;
    letter-spacing: 0.05em;
    margin-left: 30px;
    font-size: 30px;
    font-weight: bold;
}
.container input[type="radio"]{
    position: absolute;
    top : 70%;
    left : -30px;
    bottom : 0;
}
.container input[type="radio"]+p{
    position: absolute;
    font-size: 15px;
    font-weight: normal;
    bottom : 26.5%;
    left : 10px;
    text-align : left;
    word-wrap: break-word;
}
.container button{
    position : relative;
    top : 170px;
    left : 80px;
    height : 70px;
    width : 250px;
    padding : 10px 10px;
    margin-top : 10px;
    background : none;
    font-size : 25px;
    font-weight: bold;
    letter-spacing : 0.10em;
    border : 2px solid #e8a348;
    color : white;
    transition : background 0.3s;
    border-radius : 5px;
}
.container button:hover{
    background : #e8a348;
    cursor : pointer;
}
.container button+a{
    position : relative;
    text-decoration: none;
    color: white;
    font-size : 16px;
    font-weight: bold;
    top : 240px;
    left: -150px;
}
.container button+a:hover{
    text-decoration: underline white;
}